:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:hover {
  border-color: #f5b9c8;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #e20135;
  }
  button {
    border-radius: 20px;
    border: 2px solid #ee223d;
    background-color: #ee223d;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform:none;
    transition: transform 80ms ease-in;
  }

  .react-datepicker__close-icon::after  {
    background-color: #ee223d;
  }

/* Prevent border changes on focus and active states */
button:focus, button:active {
  outline: none;
  border: none;
  box-shadow: none;
}

}
